@model Tourism_Project.Models.Company

@{
    ViewBag.Title = "Company Details";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/VoucherMasterPage.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>

<fieldset>
    <legend>Company</legend>
    <table>
            <colgroup>
                <col style="width: 50px; text-align: right;" />
                <col />
            </colgroup>
            <tbody>
                <tr>
                    <td align="right">
                        ID

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.CompanyID)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        @Html.LabelFor(model => model.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Name)
                    </td>
                </tr>
                <tr>
                    <td align="right">
                        @Html.LabelFor(model => model.Email)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Email)

                    </td>
                </tr>
                <tr>
                    <td align="right">
                        @Html.LabelFor(model => model.Phone)

                    </td>
                    <td>
                        @Html.DisplayFor(model => model.Phone)

                    </td>
                </tr>
                <tr>
                    <td align="right">
                        @Html.LabelFor(model => model.Commission)

                    </td>

                    <td class="editor-field commission">
                        @Html.DisplayFor(model => model.Commission)
                        <span>%</span>

                    </td>
                </tr>
            </tbody>
        </table>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.CompanyID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
