@model Tourism_Project.Models.RegisterModel

@{
    ViewBag.Title = "_FilterVouchers";
    //Layout = null;
}

@using (Html.BeginForm("CashSheet", "Voucher", FormMethod.Post))
{
    <style>
        input[type="number"] {
            width: 44px !important;
        }

        input[type="text"], input[type="date"] {
            width: 300px;
        }

        select {
            width: 314px;
            height: 38px !important;
            line-height: 5px;
            padding-left: 10px;
        }

            select option {
                line-height: 15px;
            }

        textarea {
            width: 290px;
        }

        .prices input {
            width: 50px !important;
        }
    </style>


    <div style="width:100%">
        <table width="100%" class="tblform" border="0">
            <tbody>
                <tr>
                    @*yummy
                        <td>
                        <div class="editor-label">
                            @Html.Label("Staff Name")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @{if (TempData["staffarray"] != null)
                            {
                                @Html.DropDownListFor(model => model.ID, (IEnumerable<SelectListItem>)TempData["staffarray"], "--- Select StaffName ---")
                            }
                            }
                            <br />
                            @Html.ValidationMessageFor(model => model.ID)

                        </div>
                    </td>*@

                    @*comment on 24-08-2015*@
                    @*<td>
                            <div class="editor-label">
                                Booked Date
                            </div>
                        </td>
                        <td>
                            <div class="editor-field">
                                @Html.TextBox("txt_date", TempData["createdate"], "{0:dd/MM/yyyy}", new { required = "required", style = "width: 230px;" })

                            </div>
                        </td>*@

                    <td>
                        <div class="editor-label">
                          From  Booked Date
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBox("txt_Fromdate", TempData["createFromdate"], "{0:dd/MM/yyyy}", new { required = "required", style = "width: 230px;" })
                            <input type="hidden" id="CreatedDate_From_Report" name="CreatedDate_From_Report">
                        </div>
                    </td>
                    <td>
                        <div class="editor-label">
                            To  Booked Date
                        </div>
                    </td>
                    <td>
                        <div class="editor-field">
                            @Html.TextBox("txt_Todate", TempData["createTodate"], "{0:dd/MM/yyyy}", new { required = "required", style = "width: 230px;" })
                            <input type="hidden" id="CreatedDate_To_Report" name="CreatedDate_To_Report">
                        </div>
                    </td>


                    <td align="right" style="display:none;">
                        <div class="editor-label">
                            @Html.Label("Report")
                        </div>
                    </td>
                    <td>
                        <div class="editor-field" style="display:none;">

                            @Html.DropDownList("drp_Report", new[] {
                        new SelectListItem(){Text = "Voucher Report" , Value="Voucher Report",Selected=true},
                        new SelectListItem(){Text ="Our Tour Report" , Value = "Our Tour Report"},
                    }, "--- Select Report ---", new { required = "required", style = "width: 230px;" })


                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="6">
                        <p>
                            <input type="submit" value="Generate" class="btn btn-large btn-block btn-primary" />
                        </p>
                    </td>
                </tr>
                <tr>
                    <td colspan="12" align="right">
                        <h3>
                            @Html.ActionLink("Back to Cash Sheet...", "StaffWiseReport", "Voucher")
                        </h3>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
    <script>
        var companyCommissionPercentage = 0;
        $(document).ready(function ()
        {
            $('#txt_Fromdate').val("");
            $('#txt_Todate').val("");

            @if (ViewBag.VoucherType != null)
            {
                <text>
            $("#drp_Report").val('@ViewBag.VoucherType');
            </text>
            }

            window.setTimeout(function ()
            {
                $("select").chosen();
            }, 100);

            /*
            var from = $("#txt_date").val().split("-");
            var date = new Date(from[2], from[1] - 1, from[0]);

            if (!$.browser.safari)
            {
                $('#txt_date').datepicker({ dateFormat: 'dd/mm/yy' });
            }
            else
            {
                $('#txt_date').datepicker({ dateFormat: 'dd/mm/yy' });
            }
            */

            $('#txt_Fromdate').datepicker({ dateFormat: 'dd/mm/yy' }).on('change', function (en)
            {
                $('#CreatedDate_From_Report').val(convertdateFormat('#txt_Fromdate'));
            });
            $('#txt_Todate').datepicker({ dateFormat: 'dd/mm/yy' }).on('change', function (en)
            {
                $('#CreatedDate_To_Report').val(convertdateFormat('#txt_Todate'));
            });


        });



        function convertdateFormat(oDate)
        {
            console.log("oDate", $(oDate).val());
            if ($(oDate).val() != "")
            {
                return moment($(oDate).datepicker("getDate")).format("MM/DD/YYYY");
            }
        }

    </script>
    
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


