@using System.Configuration
@model IEnumerable<Tourism_Project.Models.Voucher>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="@Url.Content("~/Content/print.css")" type="text/css" media="print" />
<script src="@Url.Content("~/Scripts/Chosen/chosen.jquery.js")"></script>
@{
    ViewBag.Title = "Vouchers";

    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/VoucherMasterPage.cshtml";

    int ADMIN = 1, STAFF = 2, AGENT = 3;
    string[] user = User.Identity.Name.Split(',');
    string userType = user[2];//userid,username,usertype


}
<style>
    .mainDiv {
        padding: 40px 0 15px;
        width: 600px;
    }

    .voucherInfoDiv {
        border: 4px solid rgb(196, 196, 196);
        padding: 5px 0px 5px 25px;
        background: white;
    }

    .voucherNameDiv {
        border: 1px solid rgb(196, 196, 196);
        padding: 0px 0px 5px 20px;
        background: white;
    }

    .voucherIdDiv {
        height: 19px;
        border: 1px solid rgb(196, 196, 196);
        padding: 10px;
        width: 43%;
        right: 0px;
        float: right;
        margin-top: -40px;
        background: white;
    }

        .voucherInfoDiv:hover, .voucherNameDiv:hover, .voucherIdDiv:hover {
            background: #FFFB9D;
            color: black;
        }


    .btnSearch {
        background: white;
        margin-left: 4px;
        margin-right: 0px;
        padding: 4px 10px;
        text-decoration: none;
        position: absolute;
        border-radius: 4px;
        border: 1px solid #cccccc;
        color: black;
    }

    .search-div {
        text-align: center;
        background: gainsboro;
        line-height: 50px;
        padding-top: 7px;
        border-radius: 30px;
        text-align: center;
    }

    .searchbtn {
        position: absolute;
        margin-left: 4px;
        position: absolute;
        margin-left: 4px;
        margin-top: 6px;
    }

    input {
        width: 206px !important;
    }

    .priceDiv {
        float: right;
        padding-right: 0px;
        margin-top: -75px !important;
    }

    .clear {
        clear: both;
    }

    .datetime {
        display: none !important;
    }

    .printLogo {
        display: none;
    }

    .tourname {
        font-size: 20px;
        font-weight: bold;
    }

    .voucherId {
        font-size: 20px;
        font-weight: bold;
        float: right;
    }

    .companyName {
        font-size: 15px;
    }

    .passengerName {
        font-size: 25px;
        font-weight: bold;
    }


    .chzn-container {
        height: 31px;
        width: 221px !important;
    }

        .chzn-container .chzn-container-multi .chzn-choices {
            height: 31px !important;
            width: 221px !important;
            overflow-y: auto;
        }

    .chzn-search input {
        width: 180px !important;
    }

    .chzn-container > .chzn-single {
        height: 38px;
        top: -7px;
    }

        .chzn-container > .chzn-single span {
            top: 8px;
            position: absolute;
        }

        .chzn-container > .chzn-single div {
            top: 8px;
        }



    .divActions {
        width: 180px;
        float: right;
        padding: 18px 3px;
    }

    .voucherInfoDiv::after {
        clear: both;
        content: "";
        display: block;
        visibility: hidden;
    }

    .scrollcon {
        float: left;
        width: 100%;
        min-width: 480px;
    }
</style>
<style media="print">
    @@media print {
        .ref_no {
            position: initial;
            margin-top: 30px !important;
        }
    }
</style>
<style>
    .bouchercon {
        margin: 0 auto;
        width: 670px;
    }

    @@media (max-width:767px) {
        .bouchercon {
            float: left;
        }



            .bouchercon > input, .bouchercon > select, .bouchercon > div {
                width: 30%;
                margin: 1.5%;
                float: left;
                box-sizing: border-box;
                line-height: 38px;
                height: 38px;
            }

            .bouchercon div.btncon {
                width: 100%;
                margin-bottom: 20px;
            }

        .chzn-container > .chzn-single {
            top: 0;
        }

        .tblVouchers {
            float: left;
            width: 100%;
            min-width: 480px;
        }

            /*.mainDiv {
            overflow: auto;
        }*/

            .tblVouchers .mainDiv {
                width: 100%;
                float: left;
            }

        .priceDiv {
            float: right;
            margin-top: -85px !important;
            margin-left: 0px;
        }

        .voucherInfoDiv {
            overflow: auto;
        }

        .bouchercon {
            width: 100%;
            float: left;
        }
    }
</style>


@using (Html.BeginForm())
{
    @*//remove for hosting
            <h2 class="h2-heading">
            Voucher Desk<span style="float:right;font-size:20px;">
                @Html.ActionLink("Voucher SummarySheet", "voucherShopwiseReport", null, new { style = "color:white;" })
            </span>
        </h2>
    *@
    <br />
    <div class="bouchercon">
        <input type="text" id="txtVoucherID" placeholder="Voucher Number" />
        @Html.DropDownList("companies", (IEnumerable<SelectListItem>)@ViewBag.Companies)
        <input type="date" id="txtTravelDate" />
        <br class="clear" />
        <br class="clear" />
        <div class="btncon">
           
            <a href="javascript: void(0);" id="lbSearch" class="btn btn-block btn-large">Search</a>

            <a href="javascript: void(0);" id="lbClear" class="btn btn-block btn-large">Clear</a>

            <a href="javascript: $('.allVouchers').jqprint();" id="lbPrint" class="btn btn-large btn-block btn-info">Print</a>

            @*<a href="Create" id="Add" onclick="javascript: AddVoucher(); return false;" class="btn btn-large btn-block btn-primary" style="padding-right: 40px;">Add</a>*@
            <a id="Add" class="btn btn-large btn-block btn-primary" href="javascript:window.open('/Voucher/Create','_self')">Add</a>
            @*@Html.ActionLink("Add", "Create", "Voucher", routeValues: null, htmlAttributes: new { @class = "btn btn-large btn-block btn-primary" })*@
        </div>
    </div>

}
<div class="allVouchers">

    <table style="margin: 0 auto;" class="tblVouchers">


        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <div class="printLogo">
                        <div style="float: left;">
                            <img src='@Url.Content("~/Images/LOGO.png")' width="120" alt="Trek North">
                        </div>
                        <div style="float: left; margin-top: 18px; margin-left: 5px; text-align: left;">
                            <span style="font-size: 20px; font-weight: bold;">@ConfigurationManager.AppSettings["CompanyName"].ToString()</span><br />
                            <span style="font-size: 15px;">@ConfigurationManager.AppSettings["AddressLine1"].ToString()</span><br />
                            Phone: <span style="font-size: 14px;">@ConfigurationManager.AppSettings["PhoneNumber"].ToString()</span><br />
                            <span style="font-size: 14px;">@ConfigurationManager.AppSettings["ABN"].ToString()</span><br />
                        </div>
                    </div>
                    <div class="datetime" style="font-size: 14px;">
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        <br />
                        @*Booking Date: @DateTime.Now.ToString("dd MMMM, yyyy (dddd)")*@
                    </div>
                </td>
            </tr>
            <tr>
                <td style="display: none;">@Html.HiddenFor(modelItem => item.VoucherBookingID)</td>
                <td>
                    <div style="" class="mainDiv">
                        <div class="voucherIdDiv">
                            <span style="" class="voucherId">
                                <a class="editInPopup" href="Voucher\Details\@Html.DisplayFor(modelItem => item.VoucherBookingID)" onclick="javascript: ViewVoucher(@Html.DisplayFor(modelItem => item.VoucherBookingID)); return false;">
                                    @Html.DisplayFor(modelItem => item.VoucherID)
                                </a>
                            </span>&nbsp;<span style="float: right; margin: 4px 4px;">Voucher No:</span>
                        </div>
                        <div class="voucherNameDiv">
                            <div style="float: left; width: 300px; padding: 5px;">
                                <label style="font-style: italic; font-size: 12px; width: 250px; display: block; margin-left: -16px;">
                                    Passenger Name
                                </label>
                                <br style="height: 0; display: none" />
                                <label style="" class="passengerName">@Html.DisplayFor(modelItem => item.FullName)</label>
                                <div class="clear"></div>
                            </div>
                            <div class="divActions">
                                @if (Int32.Parse(userType) == ADMIN)
                                {
                                    {
                                        @*<a class="editInPopup btn btn-block btn-primary" href="/Voucher/Edit/@Html.DisplayFor(modelItem => item.VoucherBookingID)" onclick="javascript: GetVoucher(@Html.DisplayFor(modelItem => item.VoucherBookingID)); return false;">Edit</a>*@
                                        <a class="btn btn-large btn-block btn-primary" href="javascript:window.open('/Voucher/Edit/@Html.DisplayFor(modelItem => item.VoucherBookingID)','_self')">Edit</a>
                                        @*<a class="editInPopup btn btn-block btn-primary" href="/Voucher/Delete/@Html.DisplayFor(modelItem => item.VoucherBookingID)" onclick="javascript: DeleteVoucher(@Html.DisplayFor(modelItem => item.VoucherBookingID)); return false;">Delete</a>*@
                                        <a class="btn btn-large btn-block btn-primary" href="javascript:window.open('/Voucher/Delete/@Html.DisplayFor(modelItem => item.VoucherBookingID)','_self')">Delete</a>
                                    }
                                }
                            </div>
                            <div class="clear"></div>
                        </div>
                        <div class="voucherInfoDiv">
                            <div class="scrollcon">
                                <label style="font-style: italic; font-size: 12px; width: 250px; display: block; margin-left: -16px;">Tour</label>
                                <label style="" class="tourname">@Html.DisplayFor(modelItem => item.Tour)</label>
                                <label style="float: right; padding-right: 30px;">@item.Create_Date.ToLongDateString() @item.Create_Date.AddHours(0).ToShortTimeString()</label>
                                <br class="clear" />
                                <label>Company:</label>
                                <b style="" class="companyName">
                                    @Html.DisplayFor(modelItem => item.CompanyName)
                                </b>
                                &nbsp;&nbsp;<label style="float: right; padding-right: 30px; margin-left: 5px; font-weight: bold; text-transform: capitalize;">@Html.DisplayFor(modelItem => item.Modify_By.ToLower().Split(',')[1])</label><label style="float: right;">Booked by:</label>
                                <br class="clear" />
                                <label>Fare Basis:</label>&nbsp;&nbsp;<span>@Html.DisplayFor(modelItem => item.FareBasis)</span>
                                <br />
                                <label>Travel Date:</label>&nbsp;&nbsp;<span>@Html.DisplayFor(modelItem => item.TravelDateString)</span>
                                <br />
                                <label>Passengers:</label>&nbsp;&nbsp;Adult(s):
                                <span class="editor-field counts">@Html.DisplayFor(modelItem => item.AdultCount)</span>&nbsp;&nbsp;Child(ren):
                                <span class="editor-field counts">@Html.DisplayFor(modelItem => item.ChildrenCount)</span>&nbsp;&nbsp;Infant(s):
                                <span class="editor-field counts">@Html.DisplayFor(modelItem => item.InfantCount)</span>
                                <br />
                                <label>Pickup/Check In:</label>
                                <span class="pickup">
                                    @Html.DisplayFor(modelItem => item.PickupLocation)
                                </span>
                                @{
                                    if (!string.IsNullOrEmpty(item.ConfirmationNumber))
                                    {
                                        <br />
                                        <label>Confirmation No: </label> <span>@Html.DisplayFor(modelItem => item.ConfirmationNumber)</span>
                                    }
                                }
                                <div style="width: 250px; position: relative;">
                                    <div class="ref_no" style="width: 295px; font-weight: bold; margin-left: -18px; margin-top: 5px; top: 15px;">
                                        <!-- position: absolute;-->
                                        <br>
                                        @if (item.Comments != null && item.Comments.Length > 160)
                                        {
                                            {
                                                <span title="@item.Comments">@item.Comments.Substring(0, 160).........</span>
                                            }
                                        }
                                        else
                                        {
                                            {
                                                <span>@item.Comments</span>
                                            }
                                        }
                                        <br class="clear" />
                                        <label style="">@Html.DisplayFor(modelItem => item.CompanyName):</label>
                                        <span>
                                            @Html.DisplayFor(modelItem => item.CompanyNumber)
                                        </span>
                                    </div>
                                </div>
                                <table class="priceDiv">
                                    <tr>
                                        <td align="right" style="white-space: nowrap;">Tour Value:</td>
                                        <td style="white-space: nowrap;"><b><span class="price">@Html.DisplayFor(modelItem => item.Price)</span></b> AUD</td>
                                    </tr>

                                    <tr style="display:none;">
                                        <td align="right" style="white-space: nowrap;">Deposit Paid:</td>
                                        <td style="white-space: nowrap;"><b><span class="commision">@Html.DisplayFor(modelItem => item.Commission)</span></b> AUD</td>
                                    </tr>
                                    @{

                                        if (item.Discount > 0)
                                        {
                                            <tr style="">
                                                <td align="right" style="font-weight: 900; white-space: nowrap;">Discount Given:</td>
                                                <td style="white-space: nowrap;"><b><span class="commision" style="font-weight: 900; white-space: nowrap;">@Html.DisplayFor(modelItem => item.Discount)</span></b> AUD</td>
                                            </tr>
                                        }
                                    }


                                    @{
                                        decimal? APBC = 0;
                                        //APBC = item.Commission - item.Discount;
                                        APBC = Convert.ToDecimal(item.cardPaid) + Convert.ToDecimal(item.cashPaid);

                                        <tr>
                                            <td align="right" style="font-weight: 900; white-space: nowrap;">Customer Paid:</td>
                                            <td style="white-space: nowrap;"><b><span class="commision" style="font-weight: 900; white-space: nowrap;">$@String.Format("{0:0.00}", APBC)</span></b> AUD</td>
                                        </tr>
                                    }
                                    <tr>
                                        <td align="right">Levy:</td>
                                        <td style="white-space: nowrap;">
                                            <b>
                                                @{
                                                    if (item.Levy == null)
                                                    {
                                                        <span class="levy">$0</span>
                                                    }
                                                    else
                                                    {
                                                        <span class="levy">$@String.Format("{0:0.00}", item.Levy)</span>
                                                    }
                                                }
                                            </b>AUD
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="right" style="white-space: nowrap;">Balance to Pay to Operator:</td>
                                        <td style="white-space: nowrap;"><b>@Html.DisplayFor(modelItem => item.BalanceToPay)</b> AUD</td>
                                    </tr>

                                </table>
                            </div>
                        </div>
                        <div class="showinprint" style="display: none;">
                            <span style="font-weight: bolder; font-size: 8px; float: left;display:inline-block;">Cancellation Policy for all tours</span><span style="float: right; color: red;display:inline-block;">Any questions relating to your tour, please call @item.CompanyNumber</span><br />
                            <span style="font-size: 9px;display:inline-block;width:100%;float:left; font-style: italic;">Deposits and Booking Fees are not refunded. These Fees are for our service and not the products booked. In the event that you seek a full refund, this will have to be taken up with the Tour Operator and their respective Cancellation Policy.</span>
                        </div>
                    </div>
                </td>
            </tr>
                                                    }
    </table>

</div>
<div id="popup"></div>
<div id="loader" class="loader">
    <div class="loader-overlay"></div>
    <img src="~/Images/loader.gif" class="loader-img" />
</div>

<script>
    var recordsOnPage = 10;
    var totalRecords = 10;
    var IsCallInProgress = false;
    var width = document.body.clientWidth;
    var height = $(window).height();
    var path = '/Voucher/Count?a=1';
    if ($('#companies').val() != "")
        path += "&Company=" + $('#companies').val();
    if ($('#txtTravelDate').val() != "")
        path += "&Travel_Date=" + $('#txtTravelDate').val();
    if ($('#txtVoucherID').val() != "")
        path += "&Voucher_ID=" + $('#txtVoucherID').val();
    $.get(path, function (data) {
        totalRecords = parseInt(data);
    });

    $(window).scroll(function () {
        if ($(document).height() - 1600 < $(document).scrollTop() + $(window).height())
            if (!IsCallInProgress && recordsOnPage < totalRecords) {
                IsCallInProgress = true;
                var path = '?onPage=' + recordsOnPage + '&requiredNumbers=5';
                if ($('#txtTour').val() != "")
                    path += "&Company=" + $('#companies').val();
                if ($('#txtTravelDate').val() != "")
                    path += "&Travel_Date=" + $('#txtTravelDate').val();
                if ($('#txtVoucherID').val() != "")
                    path += "&Voucher_ID=" + $('#txtVoucherID').val();
                $.get(path, function (data) {
                    $(data).insertAfter('.tblVouchers:last');
                    recordsOnPage += 5;
                    IsCallInProgress = false;
                });
            }
    });

    $(document).ready(function () {
        $(document).ajaxStart(function () {
            $('#sideLoader').show();
        }).ajaxStop(function () {
            $('#sideLoader').hide();
        });
        $('#companies').val('@ViewBag.Company');
        $('#txtTravelDate').val('@ViewBag.Travel_Date');
        $('#txtVoucherID').val('@ViewBag.Voucher_ID');
        if (!$.browser.safari)
            $('#txtTravelDate').datepicker({ dateFormat: 'dd-mm-yy' });
        $('#lbSearch').click(function () {
            $('#loader').show();

            var voucher = $('#txtVoucherID').val();
            if (voucher != null && voucher != "") {
                var voucher = voucher.replace(/\D/g, '');
                voucher = "TNTQ" + voucher.trim();
            }


            window.location = "?Voucher_ID=" + voucher + "&Company=" + $('#companies').val() + "&Travel_Date=" + $('#txtTravelDate').val();
        }); $
        ('#lbClear').click(function () {
            $('#loader').show();
            window.location = "/Voucher";
        });



        (function ($) {
            var opt;
            $.fn.jqprint = function (options) {
                opt = $.extend({}, $.fn.jqprint.defaults, options);

                var $element = (this instanceof jQuery) ? this : $(this);

                if (opt.operaSupport && $.browser.opera) {
                    var tab = window.open("", "jqPrint-preview");
                    tab.document.open();

                    var doc = tab.document;
                } else {
                    var $iframe = $("<iframe  />");

                    if (!opt.debug) {
                        $iframe.css({ position: "absolute", width: "0px", height: "0px", left: "-600px", top: "-600px" });
                    }

                    $iframe.appendTo("body");
                    var doc = $iframe[0].contentWindow.document;
                }

                if (opt.importCSS) {
                    if ($("link[media=print]").length > 0) {
                        $("link[media=print]").each(function () {
                            doc.write("<link type='text/css' rel='stylesheet' href='" + $(this).attr("href") + "' media='print' />");
                        });
                    } else {
                        $("link").each(function () {
                            doc.write("<link type='text/css' rel='stylesheet' href='" + $(this).attr("href") + "' />");
                        });
                    }
                }

                if (opt.printContainer) {
                    doc.write($element.outer());
                } else {
                    $element.each(function () { doc.write($(this).html()); });
                }

                doc.close();

                (opt.operaSupport && $.browser.opera ? tab : $iframe[0].contentWindow).focus();
                setTimeout(function () {
                    (opt.operaSupport && $.browser.opera ? tab : $iframe[0].contentWindow).print();
                    if (tab) {
                        tab.close();
                    }
                }, 1000);
            };

            $.fn.jqprint.defaults = {
                debug: false,
                importCSS: true,
                printContainer: true,
                operaSupport: true
            };

            // Thanks to 9__, found at http://users.livejournal.com/9__/380664.html
            jQuery.fn.outer = function () {
                return $($('<div></div>').html(this.clone())).html();
            };
        })(jQuery);


        if (window.location.toString().search('print') != -1) {
            $('.allVouchers').jqprint();
        }
        $("select").chosen({ width: '200px' });
    });
    function GetVoucher(a) {
        $('#loader').show();
        $.get('/Voucher/Edit/' + a, function (data) {
            $('#popup').html(data);
            $('#popup').dialog({
                title: "Edit",
                width: width,
                height: height,
                modal: true
            });
            window.setTimeout(function () {
                $('#loader').hide();
            }, 200);
            $('#popup').scrollTop(0);
        });
    }

    function ViewVoucher(a) {
        $('#loader').show();
        $.get('/Voucher/Details/' + a, function (data) {
            $('#popup').html(data);
            $('#popup').dialog({
                title: "Voucher Details",
                width: width,
                height: height,
                modal: true
            });
            window.setTimeout(function () {
                $('#loader').hide();
            }, 200);
            $('#popup').scrollTop(0);
        });
    }

    function DeleteVoucher(a) {
        $('#loader').show();
        $.get('/Voucher/Delete/' + a, function (data) {
            $('#popup').html(data);
            $('#popup').dialog({
                title: "Delete",
                width: width,
                height: height,
                modal: true
            });
            window.setTimeout(function () {
                $('#loader').hide();
            }, 200);
            $('#popup').scrollTop(0);
        });
    }

    function AddVoucher(a) {
        $('#loader').show();
        var a = $.get('/Voucher/Create/', function (data) {
            $('#popup').html(data);
            $('#popup').dialog({
                title: "Add",
                width: width,
                height: height,
                modal: true
            });
            window.setTimeout(function () {
                $('#loader').hide();
            }, 100);
            $('#popup').scrollTop(0);
        });
    }
    $(window).on("load", function () {
        function mywidth() {
            var ww = $(window).width();
            //alert(ww);
            if (ww <= 768) {
                $(".mainDiv").css("width", ww - 30);
            };
        }
        mywidth();
        $(window).resize(mywidth);
    });

</script>
